body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6c7279;
	margin: 0;
}

*, 
*:before,
*:after {
	box-sizing: border-box;
}

/*Container=====================================*/
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
/*Header =======================================*/


.header {
	padding: 38px 0;
	background-image: url('../img/intro-bg.jpg') center top/cover no-repeat;

}

.header__inner {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #20365c;
}

.nav .nav__link {
	margin-right: 60px;
}
/*raleway bold 13
-opensans bold 65
raleway regular 22
-ral sem-bold 13
-raleway bold 14
raleway regular 14
-raleway regular 13
-cardo italic 36
-raleway light 22*/


